<Project>
    <ItemGroup>
        <PackageReference Include="Autofac" Version="5.0.0" />

        <!--<PackageReference Include="Microsoft.VisualStudio.LanguageServices" Version="4.0.1" />
        <PackageReference Include="Microsoft.VisualStudio.Threading" Version="17.0.64 "/>
        <PackageReference Include="Nerdbank.Streams" Version="2.7.74"/>
        <PackageReference Include="MvvmLight" Version="5.4.1.1"/>-->

        <!-- ApplicationInsights -->
        <PackageReference Include="Microsoft.ApplicationInsights" Version="2.21.0"/>
        <PackageReference Include="Microsoft.ApplicationInsights.NLogTarget" Version="2.21.0"/>

        <!-- Visual Studio -->
        <PackageReference Include="Community.VisualStudio.Toolkit.17" Version="17.0.394"/>

        <PackageReference Include="Microsoft.VSSDK.BuildTools" Version="17.3.2093">
            <IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
            <PrivateAssets>all</PrivateAssets>
        </PackageReference>

        <PackageReference Include="Microsoft.VisualStudio.SDK" Version="17.0.32112.339" ExcludeAssets="runtime">
            <IncludeAssets>compile; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
        </PackageReference>
    </ItemGroup>
</Project>