<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="General Rules Twizzar" ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA2007" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S3904" Action="None" />
    <!-- Code Smell: Make sure that this accessibility bypass is safe here. (Reflection) -->
    <Rule Id="S3011" Action="None" /> 
    <Rule Id="S3358" Action="None" /> 
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SX1309" Action="Warning" />
  </Rules>
</RuleSet>