<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add
            key="Twizzar-PackageFeed"
            value="https://vi-sit.pkgs.visualstudio.com/f9f2aaff-9a9b-4756-b92f-15871a1ea672/_packaging/ViTest-PackageFeed/nuget/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/Twizzar/index.json" />
    </packageSources>
</configuration>